/** colors */

// backgrounds
$color-white-primary: #fff;
$color-white-secondary: #eae8e6;

// fonts
$color-black-primary: #333;
$color-black-secondary: #625548;
$color-black-ternary: rgba(0, 0, 0, 0.075);

// backgrounds & highlights
$color-violet-primary: #276cda;
$color-violet-secondary: #4883e0;
$color-violet-ternary: #6491d8;

// buttons
$color-green-primary: #00c0ac;
$color-green-secondary: #02a695;

// backgrounds & highlights
$color-yellow-primary: #f3cf3f;
$color-red-primary: #f4e7da;

//font size
$font_size_16: 16px;
$font_size_14: 14px;

/** fonts */
$font-myriadpro-filename: 'MyriadPro-Regular.otf';
$font-myriadpro-primary: 'MyriadPro-Regular';
$font-glyphicons-primary: 'Glyphicons Halflings';

/** assets path */
$asset-font-path: '../assets/fonts/';

@font-face {
  font-family: $font-myriadpro-primary;
  src: url($asset-font-path+$font-myriadpro-filename) format('opentype');
}
